<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <!-- Firebase / Google Config -->
    <key>ANDROID_CLIENT_ID</key>
    <string>526848120057-9656bjp8n0k53ad8mtm6m3d89qr7u2ln.apps.googleusercontent.com</string>

    <key>API_KEY</key>
    <string>AIzaSyCYl_fGjuDX-rMHwNyncbTkUPyfyqq7htY</string>

    <key>CLIENT_ID</key>
    <string>526848120057-k87446t52essa3q713dvddvgal2lgju5.apps.googleusercontent.com</string>

    <key>GCM_SENDER_ID</key>
    <string>526848120057</string>

    <key>GOOGLE_APP_ID</key>
    <string>1:526848120057:ios:c03056bb831585a31ebe28</string>

    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.526848120057-k87446t52essa3q713dvddvgal2lgju5</string>

    <!-- Google Sign-In -->
    <key>GIDClientID</key>
    <string>526848120057-k87446t52essa3q713dvddvgal2lgju5.apps.googleusercontent.com</string>

    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.526848120057-k87446t52essa3q713dvddvgal2lgju5</string>
        </array>
      </dict>
    </array>
    <!-- App Config -->
    <key>CFBundleDisplayName</key>
    <string>Khidma Plus</string>

    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>

    <key>CFBundleName</key>
    <string>Khidma Plus</string>

    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>

    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>

    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>

    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>CFBundleSignature</key>
    <string>????</string>

    <!-- iOS Settings -->
    <key>LSRequiresIPhoneOS</key>
    <true/>

    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>

    <!-- Permissions -->
    <key>NSAppleMusicUsageDescription</key>
    <string>This app requires access to media-related services used by integrated SDKs.</string>

    <key>NSCameraUsageDescription</key>
    <string>We need camera access to upload profile and service images.</string>

    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Location is used to show nearby services and improve user experience.</string>

    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Location is used to show nearby services and improve user experience.</string>

    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>We need access to save images to your device.</string>

    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photo library to upload images.</string>

    <!-- UI -->
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>

    <key>UIMainStoryboardFile</key>
    <string>Main</string>

    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>

    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>

  </dict>
</plist>